
.col-sm-4{
	padding-left:5%;
	padding-top:2%;
	padding-bottom:5%;
	padding-right:5%;
}
.col-sm-8{	
	padding-left:5%;
	padding-top:2%;
	padding-bottom:2%;
	padding-right:5%;
}
.col-sm-6{
	padding-left:5%;
	padding-top:2%;
	padding-bottom:5%;
	padding-right:5%;
}
